@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&family=Oswald:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 10px;
}
body {
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #ccc;
    background-color: black;
    text-align: center;
    line-height: 1.5;
}

/* Header */

header {
    width: 100%;
    height: 100vh;
    grid-area: header;
}

#logo {
    width: 100%;
    padding: 1.5rem 0;
}

#logo-img {
    width: 100%;
    height: 200px;
    margin-top: 30%;
}

h1, #logo a {
    font-family: Oswald, sans-serif;
    font-size: 4rem;
    color: white;
    text-decoration: none;
    margin-bottom: 4rem;
}

nav {
    margin-top: 25%;
}

#menu a {
    font-size: 2rem;
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

#menu a:hover {
    text-decoration: underline;
}

#menu li {
    list-style-type: none;
}

/* main */

#main {
    grid-area: main;
}

article {
    background-color: #FEEC03;
    padding: 2rem 0;
}

figure img {
    width: 80%;
}

article figcaption {
    color: black;
    font-style: oblique;
    font-size: 1.2rem;
}

article p {
    margin: 5% 10%;
    font-size: 1.3rem;
    text-align: justify;
    color: black;
    font-weight: 600;
    line-height: 1.8;
}

aside {
    background-color: black;
    padding: 2rem 0;
    grid-area: aside;
}

aside figcaption {
    font-style: oblique;
    font-size: 1.2rem;
}

footer {
    background-color: #FEEC03;
    grid-area: footer;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;
}

@media only screen and (min-width: 550px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'main main aside'
            'footer footer footer';
        background-color: blueviolet;
    }
}