@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&family=Oswald:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 10px;
}
body {
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #ccc;
    background-color: black;
    text-align: center;
    line-height: 1.5;
}

/* Header */

header {
    width: 100%;
    height: 100vh;
    grid-area: header;
}

#logo {
    width: 100%;
    padding: 1.5rem 0;
}

#logo-img {
    width: 100%;
    height: 200px;
    margin-top: 30%;
}

h1, #logo a {
    font-family: Oswald, sans-serif;
    font-size: 4rem;
    color: white;
    text-decoration: none;
}

nav {
    margin-top: 10rem;
}

#menu a {
    font-size: 2rem;
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

#menu a:hover {
    text-decoration: underline;
}

#menu li {
    list-style-type: none;
}

/* main */

#main {
    grid-area: main;
}

article {
    background-color: #FEEC03;
    padding: 2rem 0;
}

figure {
    padding-top: 2rem;
    display: table;
}

figcaption {
    display: table-caption; 
    caption-side: bottom;
}

figure img {
    width: 80%;
}

article figcaption {
    color: black;
    font-style: oblique;
    font-size: 1.2rem;
}

article p {
    margin: 5% 10%;
    font-size: 1.3rem;
    text-align: justify;
    color: black;
    font-weight: 600;
    line-height: 1.8;
}

aside {
    background-color: black;
    margin-bottom: 2rem;
    grid-area: aside;
}

aside figcaption {
    font-style: oblique;
    font-size: 1.2rem;
}

aside p {
    margin: 5% 10%;
    font-size: 1.3rem;
    text-align: justify;
    color: white;
    font-weight: 600;
    line-height: 1.8;
}

footer {
    background-color: #FEEC03;
    grid-area: footer;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;
}

section {
    background-color: #FEEC03;
    color: black;
    padding: 2rem 5rem;
}

hr {
    margin: 3rem 0;
    border-top: 1px solid #676767;
}

.form {
    box-sizing: border-box;
    position: relative;
}

.form > h2 {
    font-size: 1.6rem;
    line-height: 1.8;
}

.form > p {
    font-size: 1.4rem;
    line-height: 3;
    font-weight: 600;
}

.text-input {
    width: 50%;
    padding: 1.5rem;
    margin: 1.5rem;
    border: 1px solid #676767;
    border-radius: 4px;
}

label {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.5rem 1.2rem 0 1.5rem;
}

.submit-button {
    margin-top: 2rem;
    border: 1px solid #676767;
    border-radius: 4px;
    text-align: center;
    padding: 1rem;
    background: transparent;
    font-size: 1.3rem;
    font-weight: 600;
}

.submit-button:hover {
    background-color: black;
    color: #FEEC03;
}

.book-form > h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'main main aside'
            'footer footer footer';
        grid-auto-rows: max-content;
    }

    header {
        height: 15%;
        padding: 2rem;
    }

    #logo {
        width: 60%;
        display: inline;
        float: left;
    }
        
    #logo-img {
        width: 50%;
        display: inline;
    }

    #logo-img img {
        width: 100px;
        display: inline;
        float: left;
    }

    h1 {
        display: inline;
        margin: auto;
        font-family: Oswald, sans-serif;
        font-size: 3.5rem;
        color: white;
        text-decoration: none;
    }

    nav {
        margin: 0;
        float: right;
        padding: 2rem;
        display: inline-flex;
    }

    #menu li {
        display: inline;
        margin: 0;
        padding-right: 1.1rem;
        /*margin-right: 1.5rem;*/
    }

    #menu a {
        font-size: 1.6rem;
    }

    aside {
        padding: 0;
    }
}

