@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&family=Oswald:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 10px;
}
body {
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #ccc;
    background-color: black;
    text-align: center;
    line-height: 1.5;
}

/* Header */

header {
    width: 100%;
    margin: 25% 0;
    padding: 0;
}

#logo {
    width: 100%;
    padding: 1.5rem 0;
}

#logo img {
    width: 60%;
    height: auto;
}

#logo h1, #logo a {
    font-family: Oswald, sans-serif;
    font-size: 4rem;
    color: white;
    text-decoration: none;
    margin-bottom: 4rem;
}

#menu ul{
    margin: 0;
    padding: 0;
}

#menu li {
    list-style-type: none;
}
